<!DOCTYPE >
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>keep calm carry on</title>
    <style type="text/css">
      body {
        background-color: black;
        margin: 0;
      }
      div {
        border:2px solid white;width:80%;color:white;text-align:center;margin:0 auto;
      }
      img {
        width:33%;display:block;margin: 0 auto;
      }
    </style>
  </head>
  <body style="">
    <div
      style="border:2px solid white;width:80%;color:white;text-align:center;margin:0 auto;"
    >
      <img
        style=""
        src="https://cdn.glitch.com/d46198a5-0554-4e7c-a9aa-ba02849112bc%2Fcrown.png?v=1582673851313"
        atl="crown"
      />
      <p
        style="font-size:8em;text-transform:uppercase;word-break:break-word;margin:0;padding:0;"
      >
        keep calm
        <span style="altribute:vaule;display:block;font-size:0.5em"> and </span>
        carry on
      </p>
    </div>
  </body>
</html>
